header {
  width: 100%;

  display: flex;
  justify-content: space-between;
 
  padding: 1rem .8rem;
  border-bottom: 1px solid #efefef;

  a {
    font-size: 1.2rem;
    font-weight: 600;
  }

  span {
    font-size: 1.3rem;
  }
}