<div *ngIf="(posts | async) as loadedPosts">
  <div *ngIf="loadedPosts.length === 0">
    <app-empty-state [message]="'Faça sua primeira publicação'"></app-empty-state>
  </div>

  <div *ngFor="let post of loadedPosts">
    <app-container>
      <div class="card">
        <div class="card__header">
          <app-photo></app-photo>
        </div>

        <div class="card__content">
          <div class="card__content__user">
            <h4 class="card__content__title">{{ post.name }}</h4>
            <p class="card__content__username">{{ post.username }}</p>
            <p class="card__content__date">• {{ post.postedAt | date: "MMM d, y" }}</p>
          </div>

          <div class="card__content__text">
            <p>{{ post.content }}</p>
          </div>

          <footer class="footer">
            <div class="footer__actions">
              <button class="footer__button">❤️ 40</button>
              <button class="footer__button">💬 20</button>
              <button class="footer__button">💿 60</button>
              <button class="footer__button">🍔 10</button>
            </div>
          </footer>
        </div>
      </div>
    </app-container>
  </div>
</div>