<app-container>
  <div class="card">
    <div class="card__header">
      <app-photo></app-photo>
    </div>
  
    <div class="card__content">
      <div class="card__content__user">
        <h4 class="card__content__title">Livia Helen</h4>
        <p class="card__content__username">liviahelen</p>
        <p class="card__content__date">• Aug 21, 2023</p>
      </div>
  
      <div class="card__content__text">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam id, totam, quas ratione deleniti ea voluptas et numquam consequatur eligendi aliquam illum laudantium distinctio atque non, eius fugit cumque est.</p>
      </div>

      <footer class="footer">
        <div class="footer__actions">
          <button class="footer__button">❤️ 40</button>
          <button class="footer__button">💬 20</button>
          <button class="footer__button">💿 120</button>
          <button class="footer__button">🍔 10</button>
        </div>
      </footer>
    </div>
  </div>
</app-container>