.post {
  display: flex;
  gap: .5rem;
  
  border-top: 1px solid #e0e0e0;
  padding: 1rem;

  .content {
    width: 100%;
    
    .user {
      display: flex;
      gap: .5rem;
      align-items: center;
      margin-bottom: .5rem;
    }

    .date, .username {
      font-size: 13px;
      color: #717171;
    }

    .text {
      display: flex;
      align-items: center;
      justify-content: space-between;

      width: 100%;
      line-break: anywhere;
    }
  }
}

footer {
  .actions {
    width: 100%;
    margin-top: 1rem;

    display: flex;
    justify-content: space-between;

    button {
      border: none;
      background: none;
    }
  }
}