:host {
  .container { 
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .no__posts {
    margin-top: 2rem;
    text-align: center;
    font-size: 1.3rem;
    color: #717171;
  }
}