.post {
  display: flex;
  gap: .5rem;
  
  border-bottom: 1px solid #efefef;
  padding: 1rem;

  .content {
    width: 100%;
    
    .user {
      display: flex;
      gap: .5rem;
      align-items: center;
      margin-bottom: .5rem;
    }

    .date, .username {
      font-size: 13px;
      color: #717171;
    }

    .text {
      display: flex;
      align-items: center;
      justify-content: space-between;

      width: 100%;
      line-break: anywhere;

      button {
        font-size: 1.15rem;
        background: transparent;
      }
    }
  }
}

footer {
  .actions {
    width: 100%;
    margin-top: 1rem;

    button {
      border: none;
      background: none;

      span {
        margin-left: .3rem;
      }
    }
  }
}

.liked {
  color: #ff0000;
}