.post {
  display: flex;
  gap: .5rem;
  padding: 1rem;

  &:first-child {
    border-top: 1px solid #efefef;
  }

  .content {
    width: 100%;

    .user {
      display: flex;
      gap: .5rem;
      align-items: center;
      margin-bottom: .5rem;
    }

    .date,
    .username {
      font-size: 13px;
      color: #717171;
    }

    .text {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;

      width: 100%;
      line-break: anywhere;

      button {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 1.15rem;
        background: transparent;
      }
    }
  }
}

.actions {
  width: 100%;
  margin-top: 1rem;

  button {
    border: none;
    background: none;

    span {
      margin-left: .3rem;
    }
  }
}

.liked {
  color: #ff0000;
}