.modal {
  position: fixed;
  z-index: 9999;

  width: 200px;
  min-height: 150px;
  background-color: #fcfcfc;

  border-radius: 6px;
  border: 1px solid #efefef;

  padding: 10px;

  .content {
    p {
      margin: 1rem 0;
    }
  }

  .actions {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    button {
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 6px;
      cursor: pointer;
    }

    .primary {
      background: #1da1f2;
      color: #fff;
    }
  }
}