<app-container>
  <div class="post">
    <div class="post__header">
      <app-photo></app-photo>
    </div>

    <div class="post__content">
      <div class="post__content__text">
        <form class="post__content__form">
          <textarea name="post" id="post" cols="63" rows="3" placeholder="What is happening?"
          class="post__content__form__textarea"></textarea>
        </form>
      </div>

      <footer class="footer">
        <div class="footer__actions">
          <button type="submit" class="footer__button">
            Postar
          </button>
        </div>
      </footer>
    </div>
  </div>
</app-container>